################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Optirol/.vs/Optirol/v16
/Optirol/bin/Debug
/Optirol/obj
