################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Optirol/v16/Server/sqlite3/storage.ide-wal
/.vs/Optirol/v16/Server/sqlite3/storage.ide-shm
/.vs/Optirol/v16/Server/sqlite3/storage.ide
/.vs/Optirol/v16/Server/sqlite3/db.lock
/.vs/tasks.vs.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Optirol/v16/.suo
/bin/Debug/SharpGL.dll
/bin/Debug/Optirol.pdb
/bin/Debug/Optirol.exe
/obj/Debug/Optrol.Theory.Optirol.Properties.Resources.resources
/obj/Debug/Optrol.Optirol.resources
/obj/Debug/Optirol.pdb
/obj/Debug/Optirol.exe
/obj/Debug/Optirol.csproj.GenerateResource.cache
/obj/Debug/Optirol.csproj.FileListAbsolute.txt
/obj/Debug/Optirol.csproj.CopyComplete
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Optirol/.vs/Optirol/v16/Server/sqlite3/storage.ide-wal
/Optirol/.vs/Optirol/v16/Server/sqlite3/storage.ide-shm
/Optirol/.vs/Optirol/v16/Server/sqlite3/storage.ide
/Optirol/.vs/Optirol/v16/Server/sqlite3/db.lock
/Optirol/obj/Debug/Optrol.Theory.Props.Resources.resources
/Optirol/obj/Debug/Optrol.Optirol.resources
/Optirol/obj/Debug/Optirol.pdb
/Optirol/obj/Debug/Optirol.exe
/Optirol/obj/Debug/Optirol.csprojAssemblyReference.cache
/Optirol/obj/Debug/Optirol.csproj.GenerateResource.cache
/Optirol/obj/Debug/Optirol.csproj.FileListAbsolute.txt
/Optirol/obj/Debug/Optirol.csproj.CopyComplete
/Optirol/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Optirol/obj/Debug
/Optirol/bin/Debug/SharpGL.dll
/Optirol/bin/Debug/Optirol.pdb
/Optirol/bin/Debug/Optirol.exe
/Optirol/bin/Debug
/Optirol/.vs/Optirol/v16/.suo
